 body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     background-color: #333;
     color: #f0f0f0;
 }

 .container {
     width: 80%;
     margin: 20px auto;
     padding: 20px;
     background-color: #444;
     border-radius: 10px;
     box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
 }

 h1,
 h2 {
     color: #fff;
 }

 p {
     color: #ccc;
 }